@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100vh;
    font-family: var(--font1) ;
}

header {
    background-color: #050303;
    color: #e9e7e7;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2) ;
    font-size: 8vw;
    letter-spacing: .1em;
    font-weight: normal;
}

header p {
    padding-bottom: 50px;
    font-size: 1.5em;
    font-family: sans-serif;
}

a {
    color: #e9e7e7;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10% 60px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3vw;

}

section.normal {
    background-color: #e9e7e7;
    color: #050303;
}

section.normal p {
    padding-bottom: 3em;
}

section.imagem {
    background-color: rgb(44, 43, 43);
    color: #e9e7e7;
    box-shadow: inset 6px 6px 12px 0px rgba(0, 0, 0, 0.555);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p {
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.384);
    padding: 2vw;
    text-shadow: 2px 2px 0px black;
}

section#img1 {
    background-image: url(./imagens/background001.jpg);
    background-position: right center;
    
}

section#img2 {
    background-image: url(./imagens/background002.jpg);
    background-position: right center;
    
}

footer {
    background-color:#050303;
    color: #e9e7e7;
    text-align: center;
    padding: 15px;
    font-family: sans-serif;
    font-size: 1.2em;
    
}



